<!DOCTYPE html>
<html lang="en-CA">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{{ SITENAME }}{%endblock%}</title>
<!--
The blog's design is based on Alan Orth's blog: http://mjanja.co.ke/
-->
<link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel='stylesheet' id='decode-font-stylesheet-css'  href='http://fonts.googleapis.com/css?family=Oxygen&#038;ver=3.6' type='text/css' media='all' />
<link href="{{ SITEURL }}/theme/css/pygment.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{ SITEURL }}/theme/css/vorona.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{ SITEURL }}/theme/css/main.css" rel="stylesheet" type="text/css" media="all" />

<link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
{% if FEED_RSS %}
<link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}
</head>
<body class="home blog custom-background">
{% include 'github.html' %}	
<div id="page" class="hfeed site sidebar-style-closing sidebar-style-left">
    <header id="masthead" class="site-header" role="banner">
	<div class="site-branding">
	    <h1 class="site-title">
		<a href="{{ SITEURL }}" title="{{ SITENAME }}" rel="home">{{ SITENAME }}</a>
	    </h1>
		{% if SITESUBTITLE %} 
		<h2 class="site-description">{{ SITESUBTITLE }}</h2>
		{% endif %}
	    
	</div>
	<div class="sociallinks">
	    <ul>
	    </ul>
	</div>
	<nav id="site-navigation" class="main-navigation" role="navigation">
	    <div class="screen-reader-text skip-link"><a href="#content" title="Skip to content">Skip to content</a></div>
	    <div class="menu"><ul>
		<li {{ homeClass }}><a href="{{ SITEURL }}" title="Home">Home</a></li>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in PAGES %}
            <li{% if p == page %} class="current_page_item"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% else %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="current_page_item"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
        {% endif %}
        
		<li {{ archivesClass }}><a href="{{ SITEURL }}/archives.html">Archives</a></li>
       
	    </ul></div>
	</nav>
    </header>

    <div id="content" class="site-content">
	<section id="primary" class="content-area">
	    <main id="main" class="site-main" role="main">
				{% block content %}
                                {% endblock %}
	    </main>
	    {% block pagination %}
	    {% endblock %}
	</section>
    </div><!-- #content -->

    <footer id="colophon" class="site-footer" role="contentinfo">
	<!-- <div class="site-colophon">
	    <p>Copyright (c) 2013 Aleksey Vorona.</p>
        </div>
		-->
        <address id="about" class="site-colophon">
        Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
        which takes great advantage of <a href="http://python.org">Python</a>.<br>
		The theme is <a href="http://github.com/voronaam/Decode-pelican">Decode</a>, ported by <a href="http://vorona.ca">Aleksey Vorona</a>, thanks!
        </address>
    </footer>
</div><!-- #page -->
{% if GOOGLE_ANALYTICS %}
	{% include 'analytics.html' %}
{% endif %}
{% if DISQUS_SITENAME %}
	{% include 'disqus_comment_counts.html' %}
{% endif %}	
</body>
</html>
